<!DOCTYPE html>
<html>

<head>
    <title>Reminder Application</title>
</head>

<body>
    <h1>Welcome to the Reminder Application, <%= username %>
    </h1>
    <p>Today is <%= dayOfWeek %>, <%= formattedDate %>.</p>
    <ul>
        <li><a href="/set-reminder">Set Reminder</a></li>
        <li><a href="/modify">Modify Reminder</a></li>
        <li><a href="/disable">Disable Reminder</a></li>
        <li><a href="/delete">Delete Reminder</a></li>
        <li><a href="/enable">Enable Reminder</a></li>
        <li><a href="/view">View your Reminders</a></li>
    </ul>
</body>

</html>